$accent:#2B4074;
$text-color:#4A4A4A;
$color:#F9F6E5;
$default-color: #9B9B9B;
%dosis-300{
    font-family: 'Dosis  light';
    font-weight: 300;
}
%dosis-500{
    font-family: 'Dosis  ';
    font-weight: 500;
}
%robotocondensed-400{
    font-family: 'Roboto Condensed regular';
    font-weight: 400;
}
%roboto-500{
 font-family: 'Roboto-Medium';
 font-weight: 500;
}
%robotocondensed-700{
    font-family: 'Roboto Condensed bold';
    font-weight: 700;
}